.venv/
__pycache__/
*.pyc
.env
db.sqlite3
staticfiles/
sales/migrations/
accounts/migrations/
audit/migrations/
customers/migrations/
expenses/migrations/
orders/migrations/
products/migrations/
reports/migrations/
stock/migrations/
